APP_NAME="EOIM Platform"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/EOIM-PLATFORM/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=eoim_db
DB_USER=root
DB_PASS=

MAIL_DRIVER=mail
MAIL_HOST=127.0.0.1
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=noreply@eoim.local
MAIL_FROM_NAME="EOIM Platform"

PYTHON_API_URL=http://127.0.0.1:5000
PYTHON_API_TIMEOUT=30
